<h4> Consulte aqui a situação da sua entrega </h4>

<%= form_with url: search_service_orders_url, method: :get do |f| %>
  <%= f.label :query, 'Código de Rastreio' %>
  <%= f.text_field :query %>
  <%= f.submit 'Consultar'%>
<% end %>